* {
/*	border: solid 1px pink;*/
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

main {
  display: flex;
  height: 100vh;
}
/* ------ header ------ */

header {
	background-color: #1f1f3d;
	display: flex;
	height: auto;
	justify-content: space-between;
	width: 100%;
}

h1 {
	color: #ffffff;
	font-size: 26px;
	font-weight: 800;
	margin: 15px;
}

.yo {
	color: #FFC200;
}

.search-form {
	display: flex;	
	margin: 15px;
}

#search-btn{
	background-color: #c7d3d8;
 	border: none;
 	border-bottom-left-radius: 3px;
 	border-top-left-radius: 3px;
 	color: #1f1f3d;
 	cursor: pointer;
 	height: 30px;
 	/*margin-right: 0px;*/
 	/*width: 30px;*/
 	/*font-size: 20px;*/
 	padding: 10px;
}

#search-input {
	border: none;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 16px;
	height: 30px;
	margin-left: 0px;
	padding: 15px;
	width: 100%;
}

/* ------ aside ------ */

aside {
	background-color: #47869A;
	border: solid 1px #1f1f3d;
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
}

p {
	color: #f4f7f8;
	font-size: 14px;
	margin-left: 10px;
}

.sidebar__form {
	border-bottom: solid 1px #1f1f3d;
}

.sidebar__form p {
	margin-bottom: 1px;
}

.sidebar__task-item {
	display: flex;
}

#sidebar__task-title-input,
#sidebar__task-item-input {
	border: solid 1px #1f1f3d;
	height: 35px;
	margin-left: 10px;
}

#sidebar__task-title-input {
	width: 250px;
}

#sidebar__task-item-input {
	margin-right: 0px;
	width: 215px;
}

#add-btn {
	background-color: #1f1f3d;
	border: none;
	color: #ffffff;
	font-size: 16px;
	height: 35px;
	margin-left: 0px;
	width: 35px;
}

#make-task-list-btn,
#clear-btn,
#filter-btn {
	background-color: #1f1f3d;
	border: solid 1px #1f1f3d;
	color: #ffffff;
	font-size: 18px;
	height: 40px;
	margin: 15px;
	padding: 5px;	
	width: 250px;
}



/* ------ main ------ */
.task-list__container {
	background-color: #F7FCFC;
	width: 100%;
}

.task-list__placeholder {
	color: #1f1f3d;
	text-align: center;
}

.task-list__card,
.task-list__header,
.task-list__footer  {
	border: solid 1px #CAE5E2;
}
.task-list__card {
	display: flex;
	flex-direction: column;
	margin: 30px;
	height: 300px;
	width: 250px;
}

.task-list__header {
	font-size: 19px;
	font-weight: 800;
}

.task-list__card p {
	color: #1f1f3d;	
}

.task-list__item-list {
	height: 200px;
	/*border-top: solid 2px #CAE5E2;*/
}