* {
/*	border: solid 1px pink;*/
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

main {
  display: flex;
  height: 100vh;
 /* height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:1fr 1fr;
  grid-template-areas:
   "sidebar main"
 "sidebar main";*/
}
/* ------ header ------ */

header {
	background-color: #1f1f3d;
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
}

h1 {
	color: #ffffff;
	font-size: 26px;
	font-weight: 800;
	margin: 15px;
}

.yo {
	color: #FFC200;
}

.search-form {
	align-self: flex-end;
	
}

#search-btn{
	align-self: flex-end;
	height: 10px;
	width: 10px;
}

#search-input {
	align-self: flex-end;
	height: 20px;
	width: 150px;
	float: right;
}

/* ------ aside ------ */

aside {
	background-color: #47869A;
	border: solid 1px #1f1f3d;
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
}

p {
	color: #f4f7f8;
	font-size: 14px;
	margin-left: 10px;
}

.sidebar__form {
	border-bottom: solid 1px #1f1f3d;
}

.sidebar__form p {
	margin-bottom: 1px;
}

input {
	border: solid 1px #1f1f3d;
	height: 35px;
	margin-left: 10px;
	width: 250px;
}

#make-task-list-btn,
#clear-btn,
#filter-btn {
	background-color: #1f1f3d;
	border: solid 1px #1f1f3d;
	color: #ffffff;
	font-size: 20px;
	height: 40px;
	margin: 15px;
	padding: 5px;
	width: 250px;
}



/* ------ main ------ */
.task-list__container {
	background-color: #F7FCFC;
	width: 100%;
}

.task-list,
.task-list-header
.task-list__footer  {
	border: solid 1px #CAE5E2;
}
.task-list {
	display: flex;
	flex-direction: column;
	margin: 30px;
	height: 300px;
	width: 250px;
}

.task-list__header {
	font-size: 17px;
}

.task-list p {
	color: #1f1f3d;	
}

.task-list__item-list {
	height: 200px;
}