* {
	/*border: solid 1px pink;*/
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

main {
	background-color: #F7FCFC;
  display: flex;
  height: 100vh;
}
/* ------ header ------ */

header {
	background-color: #1f1f3d;
	display: flex;
	height: auto;
	justify-content: space-between;
	width: 100%;
}

h1 {
	color: #ffffff;
	font-size: 28px;
	font-weight: 800;
	margin: 15px;
}

.yo {
	color: #FFC200;
}

.search-form {
	display: flex;	
	margin: 15px;
}

#search-btn{
	background-color: #c7d3d8;
 	border-bottom-left-radius: 3px;
 	border-top-left-radius: 3px;
 	border: none;
 	color: #1f1f3d;
 	cursor: pointer;
 	font-size: 20px;
 	height: 40px;
 	padding: 5px;
 	width: 40px;
}

#search-input {
	border-radius: 0px 3px 3px 0px;
	border: none;
	font-size: 14px;
	height: 40px;
	margin-left: 0px;
	padding: 15px;
	width: 250px;
}

img {
	display: inline-block;
	height: 20px;
	margin: 5px;
}

/* ------ aside ------ */

aside {
	background-color: #597A8B;
	border: solid 1px #1f1f3d;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
}

p {
	color: #f4f7f8;
	font-size: 12px;
	margin-left: 15px;
}

.sidebar__form {
	border-bottom: solid 1px #1f1f3d;
}

.sidebar__form p {
	margin-bottom: 1px;
}

.new-task {
	color: #ffffff;
	display: flex;
	height: 1.5em;
	list-style: none;
	margin: 10px;
}

.sidebar-item {
	display: flex;
	margin-left: 25px;
	padding: 2px;
}

.sidebar__task-item__button__container {
	display: flex;
}

#sidebar__task-title-input,
#sidebar__task-item-input {
	border: solid 1px #1f1f3d;
	font-size: 16px;
	height: 35px;
	margin-left: 15px;
}

#sidebar__task-title-input {
	margin-bottom: 10px;
	width: 250px;
}

#sidebar__task-item-input {
	margin-right: 0px;
	width: 215px;
}

#add-btn {
	background-color: #1f1f3d;
	border: none;
	color: #ffffff;
	font-size: 28px;
	font-weight: 200;
	height: 35px;
	text-align: center;
	width: 35px;
}

#make-task-list-btn,
#clear-btn,
#filter-btn {
	background-color: #1f1f3d;
	border: solid 1px #1f1f3d;
	color: #ffffff;
	font-size: 18px;
	height: 40px;
	margin: 15px;
	padding: 5px;	
	width: 250px;
}

#make-task-list-btn:hover,
#clear-btn:hover,
#filter-btn:hover {
	background-color: #782616;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.active-urgent {
	color: #b23a25;
}


/* ------ main ------ */

.task-list__container {
	background-color: #F7FCFC;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100%;
}

.task-list__placeholder {
	color: #1f1f3d;
	margin: auto;
	text-align: center;
}

.hidden {
	display: none;
}

.task-list__card.true {
	background-color: #ffe89d;
	border-color: #ffc30c;
}
.task-list__card {
	border: solid 2px #CAE5E2;
	display: flex;
	flex-direction: column;
	height: 300px;
	margin: 30px;
	width: 250px;
}

.task-list__header {
	font-weight: 800;
	height: 50px;
}

.task-list__header p {
	color: #1f1f3d;	
	font-size: 18px;
	margin: 10px;
	text-align: left;
}

.task-list__item-container {
	border-top: solid 2px #CAE5E2;
	border-bottom: solid 2px #CAE5E2;
	height: 200px;
}

.task-list__item-container.true {
	border-color: #ffc30c;
}

.task-list__footer {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.task-list__footer p {
	color: #3c6577;
	margin: 0;
	font-size: 10px;
}

.task-list__item-list {
	color: #1f1f3d;
	display:flex;
	margin-left: 5px;
	/*width: auto;*/
}

.task-list__item {
	color: #1f1f3d;
	font-size: 16px;
	margin: 8px;
}

.task-list__item.true {
	color: #3c6577;
	font-style: italic;
}

.task-list__urgent p.true {
	color: #b23A25;
}

/* ------ media queries ------ */

@media screen and (max-width: 935px) {

	aside {
		width: 40%;
	}
} 

@media screen and (max-width: 680px) {

	header {
		flex-direction: column;
		align-items: center;
	}
	main {
		flex-direction: column;
		height: 100vh;
	}

	aside {
		align-items: center;
		width: 100%;
	}

	.sidebar__form {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	
	.task-list__container {
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

}
